.input-listener {
    display: flex;
    position: fixed;
    width: 1px;
    left: -30px;
}

.main-container {
    display: flex;
    width: 100%;
    height: 97vh;
    border: 1px red solid;
}

#editor-view {
    font-family: 'Inconsolata', Arial;
    border: 2px green solid;
    width: 50%;
    padding: 12px;
}

#markdown-view {
    border: 2px blue solid;
    width: 50%;
}

.character {
    display: inline-block;
    font-size: 22px;
    margin: 1px;
}